html,body {
     height: 100%;
    /* width: 100%; */
    position: relative; 
}

header{
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid gray;
    z-index: 1;
}

h1 {
    width: fit-content;
    padding:10px;
    margin-left: 50px;
    display: inline-block;
    position: absolute;
    top:10px;
    left:10px;
    background:gray;
    display: block;
    color: #f2f2f2;
    font-size: 30px;
}
nav {    
    width: fit-content;
    text-align: right;
    position: absolute;
    top:40px;
    right:10px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}
.a{
    width: 100px;
}

main {
    width: 100%;
    min-height: 70%;
    overflow: auto;
    margin-top: 100px;   
    background: #C0C0C0;

}

#bio-main{
    margin: 20px 200px ;
    background: white;
}

#about{
    margin-left: 40px;
    width: 95%;
    border-bottom: 1px solid gray;
    vertical-align: center;
}

#bio-image{
    /* display: inline-block; */
    /* padding: 0px 40px; */
    margin-right: 40px;
    float: left;
}
#bio-p{
    margin-left: 40px;
    top: 0;
    bottom: auto;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    font-size: 15px;
}

footer {
    /* color: #707070; */
    border: 1px solid gray;
    height: fit-content;
    font-size: small;
    width:100%;
    /* float: none; */
    /* display: inline-block; */
    /* background: gray; */
    overflow: hidden;
}

#proto-main{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-template-columns: auto auto auto auto; */
    overflow: auto;
    margin: 20px 200px;
    background: white;
}
.square{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 50px;
}

.protofoliolable{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background: gray;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
